.button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  transition: all 0.2s linear;
  border: none;
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
  color: #000;
}

.button:disabled:hover {
  opacity: 1;
  cursor: auto;
}

.button:disabled:active {
  transform: scale(1);
}

.button:active {
  opacity: 1;
  transform: scale(1.1);
}
