.accuracy {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  transition: opacity 0.2s linear;
}

.accuracy:hover {
  opacity: 0.6;
  cursor: pointer;
}

.accuracy:active {
  opacity: 1;
}
